EXPO_PUBLIC_API_BASE=http://10.0.2.2:4001/api
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAEPj3-Lg9RPOXYF8c0-_C8u4YsyKI8KsU
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=therapyjoy-461f5.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=therapyjoy-461f5
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=therapyjoy-461f5.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=631566063276
EXPO_PUBLIC_FIREBASE_APP_ID=1:631566063276:web:9e28ae05662b2cda4db109
